<%- include('header') %>
  <% if (!user) { %>
    <div class="ui stacked center aligned segment">
      <div class="ui text container">
        <h1 class="ui header">Welcome to Microblog</h1>
        <h2>Do whatever you want when you want to.</h2>
        <div class="ui huge primary animated fade button" tabindex="0">
          <div class="visible content">Get Started <i class="right arrow icon"></i></div>
          <div class="hidden content">
            <a href="/signin">Sign in </a>
            <span>|</span>
            <a href="/signup">Sign up</a>
          </div>
        </div>
      </div>
    </div>
    <% }else{ %>
      <%- include('say') %>
        <% } %>
          <%- include('footer') %>