<% posts.forEach(function(post, index) {
  if (index) { %>
  <div class="ui message">
    <div class="ui large comments">
      <div class="comment">
        <div class="content">
          <a class="author" href="/u/<%= post.user %>">
            <%= post.user %>
          </a>
          <div class="metadata">
            <span class="date"><%= post.time %></span>
          </div>
          <div class="text">
            <%= post.post %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%} %>
    <%}) %>