<div class="ui segment">
  <form method="post" action="/post" class="ui form" style="text-align:
center;">
    <div class="ui input">
      <input type="text" placeholder="Enter words...">
    </div>
    <button type="submit" class="ui button positive"><i class="icon-comment icon-white">
</i> Post</button>
  </form>
</div>