<div class="ui stacked segment">
  <form class="ui form" method="post" action="/post">
    <div class="ui action fluid input">
      <input type="text" name="post" autofocus="autofocus">
      <button class="ui primary right labeled icon button">
        <i class="comment icon"></i>Post</button>
    </div>
  </form>
  <img class="ui centered rounded image" src="/images/pic.jpg"></img>
</div>