<%- include('header') %>
  <div class="ui segment">
    <% if (success) { %>
      <div class="ui success message">
        <%= success %>
      </div>
      <% } %>
        <% if (error) { %>
          <div class="ui error message">
            <%= error %>
          </div>
          <% } %>
            <div class="ui header">Sign in</div>
            <form class="ui large form" method="post">
              <div class="field">
                <div class="ui left icon input">
                  <i class="user icon"></i>
                  <input type="text" name="username" placeholder="Enter your username...">
                </div>
              </div>
              <div class="field">
                <div class="ui left icon input">
                  <i class="lock icon"></i>
                  <input type="password" name="password" placeholder="Enter your password...">
                </div>
              </div>
              <button class="ui primary large button" type="submit">Sign in</button>
              <div class="ui error message"></div>
            </form>

            <div class="ui message">
              New to us? <a href="/signup">Sign Up</a>
            </div>
  </div>
  <%- include('footer') %>