<%- include('header') %>
  <div class="ui stacked center aligned segment">
    <% if (success) { %>
      <div class="ui success message">
        <%= success %>
      </div>
      <% } %>
        <% if (error) { %>
          <div class="ui error message">
            <%= error %>
          </div>
          <% } %>
            <div class="ui huge header">Log-in to your account</div>
            <form class="ui large form" method="post">
              <div class="six wide field">
                <div class="ui left icon input">
                  <i class="user icon"></i>
                  <input type="text" name="username" placeholder="Enter your username...">
                </div>
              </div>
              <div class="six wide field">
                <div class="ui left icon input">
                  <i class="lock icon"></i>
                  <input type="password" name="password" placeholder="Enter your password...">
                </div>
              </div>
              <div class="six wide field">
                <button class="ui fluid primary large button" type="submit">Sign in</button>
              </div>
              <div class="six wide field">
                <div class="ui floating message">
                  Yet sign up? <a href="/signup">Sign up</a>
                </div>
              </div>
              <div class="ui error message"></div>
            </form>
  </div>
  <%- include('footer') %>